/*Not Found*/
.NotFound {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100vw;
   height: 100vh;
  }
  .NotFound h1 {
   text-transform: uppercase;
   font-size:6vw;
  }
  .NotFound .icon {
   font-size: 8vw;
  }