{% include "main.html" %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/delete.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<title>Delete </title>
{% endblock title %}

{% block content %}
<div class="page__delete">
   <form action="" method="POST">
      {% csrf_token %}
      <h2>Вы действительно хотите безвозвратно удалить эту визитку? '{{company.name}}'</h2>
      <div>
         <a class="btn" href="/home">Назад </a>
         <button class="btn" style="background-color: red;">Удалить</button>
      </div>
   </form>
</div>
{% endblock content %}