<div class="data__icons">
   {% if  company.facebook %}
   <a class="fa-brands fa-facebook icon" href="{{company.facebook}}"></a>
   {% endif %}

   {% if  company.instagram %}
   <a class="fa-brands fa-instagram icon" href="{{company.instagram}}"></a>
   {% endif%}

   {% if  company.youtube %}
   <a class="fa-brands fa-youtube icon" href="{{company.youtube}}"></a>
   {% endif%}

   {% if  company.telegram %}
   <a class="fa-brands fa-telegram icon" href="{{company.telegram}}"></a>
   {% endif%}

   {% if  company.twitter %}
   <a class="fa-brands fa-twitter icon" href="{{company.twitter}}"></a>
   {% endif%}

   {% if  company.tiktok %}
   <a class="fa-brands fa-tiktok icon" href="{{company.tiktok}}"></a>
   {% endif%}

   {% if  company.pinterest %}
   <a class="fa-brands fa-pinterest icon" href="{{company.pinterest}}"></a>
   {% endif%}

   {% if  company.snapChat %}
   <a class="fa-brands fa-snapchat icon" href="{{company.snapChat}}"></a>
   {% endif%}
   
   {% if  company.linkedin %}
   <a class="fa-brands fa-linkedin icon" href="{{company.linkedin}}"></a>
   {% endif%}
   {% if  company.tumbler %}
   <a class="fa-brands fa-tumblr icon" href="{{company.tumbler}}"></a>
   {% endif%}

   {% if  company.vk %}
   <a class="fa-brands fa-vk icon" href="{{company.vk}}"></a>
   {% endif%}

   {% if  company.discord %}
   <a class="fa-brands fa-discord icon" href="{{company.discord}}"></a>
   {% endif%}

   {% if  company.twitch %}
   <a class="fa-brands fa-twitch icon" href="{{company.twitch}}"></a>
   {% endif%}

   {% if  company.quora %}
   <a class="fa-brands fa-quora icon" href="{{company.quora}}"></a>
   {% endif%}
   
   {% if  company.whatsapp %}
   <a class="fa-brands fa-whatsapp icon" href="{{company.whatsapp}}"></a>
   {% endif%}

   {% if  company.github %}
   <a class="fa-brands fa-github icon" href="{{company.github}}"></a>
   {% endif%}

   {% if  company.sinaweibo %} 
   {% comment %} !! Doesnt't work !!{% endcomment %} 
   <a class="fa-brands fa-sinaweibo icon" href="{{company.sinaweibo}}"></a>
   {% endif%}

   {% if  company.viber %}
   <a class="fa-brands fa-viber icon" href="{{company.viber}}"></a>
   {% endif%}

   {% if  company.skype %}
   <a class="fa-brands fa-skype icon" href="{{company.skype}}"></a>
   {% endif%}

   {% if  company.soundCloud %}
   <a class="fa-brands fa-soundcloud icon" href="{{company.soundCloud}}"></a>
   {% endif%}

   {% if  company.spotify %}
   <a class="fa-brands fa-spotify icon" href="{{company.spotify}}"></a>
   {% endif%}

   {% if  company.their_website1 %}
   <a class="fa-solid fa-earth-americas icon" href="{{company.spotify}}"></a>
   {% endif%}

   {% if  company.their_website2 %} 
   <a class="fa-solid fa-earth-americas icon" href="{{company.their_website2}}"></a>
   {% endif%}
   {% if  company.their_website3 %}
   <a class="fa-solid fa-earth-americas icon" href="{{company.their_website3}}"></a>
   {% endif%}
</div>