//! Colors
// $primary: #afacac;

$primary: #202020;
$white: #fff;
$gray: #c2c0c0;
$black: #000;

//! Size
$size: 18px;

//! Family
$LucidaSans: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif